*, 
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
html, body {
  height: 100%;
}

.container {
  border: 2px solid #000000;
  display: flex;
  height: 600px;
  width: 600px;
  margin: auto;
}
.container > div {
  display: flex;
  flex-direction: column;
  /* background-color: red; */
  flex: 1 0 auto;
}
.container > div > *{
  /* background-color: blue; */
  flex: 1;
  /* aspect-ratio: 1/1; */
}

button {
  display: block;
  margin: 20px auto;
  width: 120px;
  height: 50px;
  padding: 10px;
  font-size: 15px;
  cursor: pointer;
}

